@import "../variables";

/* navigation-bar.scss */
.navbar {
  background-color: $darker-color !important; /* Use !important to ensure it overwrites Bootstrap */
  padding: 20px 30px !important; /* Increase vertical padding */
  margin-bottom: 30px;
  width: 100%;
}

.navbar-brand {
  font-family: "Arial", sans-serif !important; /* Use !important to ensure it overwrites Bootstrap */
  font-size: 24px !important; /* Increase brand font size */
  color: $text-color !important; /* Brand text color */
}

.nav-link {
  font-size: 18px !important; /* Increase link font size */
  color: $text-color !important; /* Link text color */
}

.nav-link:hover {
  color: $light-color !important; /* Link hover color */
}

.custom-search-box {
  width: 100% !important;
  height: 50% !important;
  padding: 14px !important;
  font-size: 16px !important;
  color: $text-color;
  margin-right: 10px !important;
}

.custom-search-box::placeholder {
  color: $text-color !important;
}
